.DirectMessage {
    z-index: -999999;
    font-size: 15px;
    color: white;
}

.DirectMessage .header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px 10px 0px 10px;
    background-color: rgb(55, 55, 55);
}

.DirectMessage .header input.message-filter {
    margin-left: auto;
    width: 200px;
    border-radius: 5px;
    background-color: rgb(55, 55, 55);
    outline: none;
}

.DirectMessage .input-holder {
    margin: 0 auto;
    height: 50px;
    background-color: rgb(35, 35, 35);
    padding: 10px;
}

.DirectMessage .input-bar {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 20px;
    color: white;
    background-color: rgb(35, 35, 35);
    outline: none;
}

.DirectMessage .messages {
    background: rgb(35, 35, 35);
    height: calc(100vh - 100px);
    overflow: auto;
    padding: 10px;
}

.DirectMessage .messages div:last-child {
    margin-bottom: 0px;
}

.DirectMessage .user-message {
    background: rgb(75, 75, 75);
    padding: 5px 10px 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
}

.DirectMessage .user-message .message-data {
    border-bottom: 1px solid lightgray;
    display: flex;
    padding-bottom: 5px;
}

.DirectMessage .user-message a {
    color: white;
    text-decoration: none;
}

.DirectMessage .user-message a:hover {
    color: rgb(185, 185, 185);
}

.DirectMessage .message-user-info {
    display: flex;
    padding: 3px;
}

.DirectMessage .time-stamp {
    margin-left: auto;
}

.DirectMessage .message-content {
    padding-top: 3px;
}

.DirectMessage .typing-users {
    color: #fff;
    font-size: 8px;
}

.DirectMessage .message-reactions {
    background-color: rgb(60, 60, 60);
    padding: 1px 4px 1px 4px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
}

.DirectMessage .message-reactions:hover {
    cursor: pointer;
}