.ChannelView {
    z-index: -999999;
}


.ChannelView .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 50px;
    background-color: rgb(35, 35, 35);
}

.ChannelView .input-holder {
    margin: 0 auto;
    height: 50px;
    background-color: rgb(35, 35, 35);
    padding: 10px;
}

.ChannelView .input-bar {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 20px;
    color: white;
    background-color: rgb(35, 35, 35);
    outline: none;
}

.ChannelView .messages {
    background: rgb(55, 55, 55);
    height: calc(100vh - 100px);
    overflow: auto;
}
.ChannelView .messages div:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}

.ChannelView .user-message {
    border-bottom:  1px solid lightgrey;
    padding: 10px 5px 10px 5px;
    margin-bottom: 10px;
    display: block;
}

.ChannelView .message-user-info {
    display: flex;
    padding: 3px;

}
.ChannelView .message-user-info-image {
    width: 55px;
    height: 55px;
}

.ChannelView .user-message h6 {
    text-align: initial;
    color: tan;
    font-weight: bold;
}

.ChannelView .user-message p {
    color: white;
}

.ChannelView .timestamp {
    font-size: 10px;
    padding-top: 5px;
    padding-left: 5px;
}

.ChannelView .searchInput {
    border-radius: 7.5px;
    margin-right: 10px;
    padding-left: 7.5px;
    width: 70%;
}

.ChannelView .message-user-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding-right: 10px;
}

.ChannelView .my-msg h6 {

}

.ChannelView .user-message img {

}

.ChannelView .user-message h6 {
    padding-top: 0px;
    font-weight: lighter;
    width: 92%;
    height: 12px;
}

.ChannelView .user-message.their-msg {
    width: 100%;
    clear: both;
}
