.ChannelView {
    
}

.header {
    background: rgb(73, 72, 72);
    width: 100%;
    height: 10vh;
    margin-bottom: 2vh;
}


.header-main {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.header-sidebar {

}

.message-input {
    margin: 0 auto;
    width: 90%;
    /* border: 1px solid grey; */
    
}

.main-message {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    height: 5vh;
    font-size: 20px;
    padding: 0 20px;
    background: rgb(55, 55, 55);
    color: white;
}

.textarea {
    width: 100%;
    height: 79vh;
    background: rgb(55, 55, 55);
    overflow: auto;
}

.user-message {

    /* border-top:  1px solid lightgrey; */
}

.user-message h6 {
    text-align: initial;
    color: tan;
    font-weight: bold;
    padding-top: 1vh;
}

.user-message p {
    color: white;
    text-align: left;
    text-align: initial;
    float: left;
}

.timestamp {
    font-size: 10px;
clear: right;
float: right;
padding-top: 5px;
padding-left: 5px;
    
}

.searchInput {
    border-radius: 7.5px;
    margin-right: 10px;
    padding-left: 7.5px;
    width: 70%;
}
.message-user-image{
    width: 55px;
    border-radius: 50%;
    padding-right: 10px;
}
.my-msg h6{
text-align: right;
}
.user-message img {
    float: left;
    /* max-width:8%; */
} 
.user-message h6 {
    float: left;
padding-top: 0px;
font-weight: lighter;
width: 92%;
height: 12px;
}
.user-message.their-msg {
    width: 100%;
    clear: both;
}
