.ChannelView {
    z-index: -999999;
    font-size: 15px;
    color: white;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-direction: normal; 
    animation-iteration-count: 1;
}


.ChannelView .header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px 10px 0px 10px;
    background-color: rgb(55, 55, 55);
}

.ChannelView .header input.message-filter  {
    margin-left: auto;
    width: 200px;
    border-radius: 5px;
    background-color: rgb(55, 55, 55);
    outline: none;
    color: white;
}

.ChannelView .input-holder {
    margin: 0 auto;
    height: 50px;
    background-color: rgb(35, 35, 35);
    padding: 10px;
    /* border-top: 1px solid black; */
}

.ChannelView .input-bar {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 20px;
    color: white;
    background-color: rgb(35, 35, 35);
    outline: none;
}

.ChannelView .messages {
    background: rgb(35, 35, 35);
    height: calc(100vh - 100px);
    overflow: auto;
    padding: 10px 10px 0px 10px;
    position: relative;
    scroll-behavior: 
}
.ChannelView .messages div:last-child {
    margin-bottom: 0px;
}

.ChannelView .user-message {
    background: rgb(75, 75, 75);
    padding: 5px 10px 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;

}
.ChannelView .user-message .message-data {
    border-bottom: 1px solid lightgray;
    display: flex;
    padding-bottom: 5px;
}

.ChannelView .user-message a {
    color: white;
    text-decoration: none;
}
.ChannelView .user-message a:hover {
    color: rgb(185, 185, 185);
}
.ChannelView .message-user-info {
    display: flex;
    padding: 3px;

}
.ChannelView .time-stamp {
    margin-left: auto;

    
}
.ChannelView .message-content {
    padding-top: 3px;
}

.ChannelView .typing-users{
    color:#fff;
    font-size: 8px;
}
.ChannelView .message-reactions {
    background-color: rgb(60, 60, 60);
    padding: 1px 4px 1px 4px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
}
.ChannelView .message-reactions:hover {
    cursor: pointer;
}

.ChannelView .messages-below {
    height: 30px;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(25, 25, 25);
    position: fixed;
    bottom: 50px;
    left: calc(100vw / 2 - 90px);
    z-index: 1000;
    color: white;
}
.ChannelView .mbt-enter {
    opacity: 0.01;
    transform: translateY(30px);
}
.ChannelView .mbt-enter.mbt-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 200ms linear;
}
.ChannelView .mbt-leave {
    opacity: 1;
    transform: translateY(0px);
}
.ChannelView .mbt-leave.mbt-leave-active {
    opacity: 0.01;
    transform: translateY(30px);
    transition: all 200ms linear;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}