.landingHeader {
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
}

.LoginBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.landingBody {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.divider {
    width: 5px;
    height: 65%;
    border-radius: 2.5px;
    background-color: darkgray;
}

.registrationForm {
    height: 50%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whyRegister {
    height: 65%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.sideways {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.loginInputs {
    width: 150px;
    height: 30px;
    border-radius: 7.5px;
    padding-left: 7.5px;
}

.loginButton {
    border-radius: 7.5px;
}