.Friends {
    overflow: auto;
    height: 50vh;
    border-bottom: 1px solid black;
}

.online-friends {
    margin-left: 10px;
}
.offline-friends {
    margin-left: 10px;
}
.friends-holder {
    margin-left: 10px;
}

.pending-friends {
    display: flex;
    
}

