.online-friends {

}
.offline-friends {

}
.friends-holder {
    
}

.popupmenu {
    width: 200px;
    height: 100px;
    background-color: black;
    border: 1px solid gray;
    position: relative;
    left: -225px;
    top: -75px;
    float: left;
}
.accept-reject {
    font-size: 10px;
}
.accept-reject:hover {
    background-color: lightgray;
    cursor: pointer;
}