.Friends {
    overflow: auto;
    height: 50vh;
    border-bottom: 1px solid black;
}

.online-friends {
    margin-left: 10px;
}
.offline-friends {
    margin-left: 10px;
    opacity: .22;
}
.friends-holder {
    margin-left: 10px;
}

.pending-friends {
    display: flex;
    
}

.accept-reject {
    font-size: 20px;
    width: 90px;
    background-color: rgb(134, 134, 134);
    text-align: center;
    margin-left: 5px;
    border-radius: 3px;
}

.accept-reject:hover {
    background-color: rgb(121, 121, 121);
    cursor: pointer;
}

