.Friends {
    overflow: auto;
    height: 50vh;
    border-bottom: 1px solid black;
}

.online-friends {

}
.offline-friends {

}
.friends-holder {
    
}

.popupmenu {
    width: 200px;
    height: 100px;
    background-color: black;
    border: 1px solid gray;
    position: absolute;
    left: -225px;
    top: -30px;
    float: left;
}
.accept-reject {
    font-size: 10px;
}
.accept-reject:hover {
    background-color: lightgray;
    cursor: pointer;
}