.Friends {
    overflow: auto;
    height: 50vh;
    border-bottom: 1px solid rgb(35, 35, 35);;
}

.pending-friends {
    display: flex;
}

.Friends .add-friend {
    position: fixed;
    top: 17px;
    right: 8px;
}

.Friends .add-friend:hover {
    cursor: pointer;
}

.Friends .friends-title {
    font-size: 22px;
    padding: 3px;
    display: flex;
    align-items: center;
    height: 50px;
}

.Friends .friends-header {
    font-size: 22px;
    padding: 3px;
    display: flex;
    align-items: center;
    background-color: rgb(55, 55, 55);
}

.Friends .friend {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(55, 55, 55);
}

.Friends .friend>div.clickable {
    padding: 3px;
    width: 100%;
}

.Friends .friend:hover {
    background-color: rgb(65, 65, 65);
    cursor: pointer;
}

.accept-reject {
    font-size: 20px;
    width: 90px;
    background-color: rgb(134, 134, 134);
    text-align: center;
    margin-left: 5px;
    border-radius: 3px;
}

.accept-reject:hover {
    background-color: rgb(121, 121, 121);
    cursor: pointer;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }