.popupmenu {
    width: 200px;
    height: 110px;
    background-color: lightgray;
    border: 1px solid gray;
    position: fixed;
    display:flex;
    flex-direction: column;
    z-index: 1000;
}

.accept-reject {
    font-size: 20px;
    height: 34%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(46, 46, 46);
}

.accept-reject:hover {
    background-color: darkgray;
    cursor: pointer;
}

.popup-sections {
    width: 100%;
    height: 33%;
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(46, 46, 46);
}

.popup-sections:hover {
    background-color: darkgray;
    cursor: pointer;
}