.NavBar {
    background: rgb(40, 40, 40);
    width: 220px;
    color: white;
    flex-shrink: 0;
    flex-grow: 0;
}

.nav-top {
    height: calc(100% - 50px);
}

.NavBar .card-body, .card-header, #headingTwo, #headingOne, #headingThree {
    background: rgb(40, 40, 40);
} 

#headingTwo, #headingOne, #headingThree {
    padding: 0px;
}

.NavBar div ul.leftbarUL {
    list-style: none;
    text-align: left;
    height: 40vh;
    overflow: auto;  
}
  
.NavBar ul li::before {
    content: "\2022";
    color: green;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;    
}

.NavBar ul li {
      margin-left: 20%;
}


.NavBar div.card {
    border: none;
}


.NavBar .settings {
  z-index: 999999;
    
}

.NavBar div.card-body {
    overflow: auto;
}


.NavBar .navLogo {
    height: 75px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.NavBar .profileAndSettings {
    height: 50px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
} 

.NavBar .addChannel {
    display: inline;
    float: left;
    margin-right: -10%;
}