/* .body-main {
    background: lightgrey;
    display: flex;

} */



.nav-container {
    background: rgb(40, 40, 40);
    width: 24%;
    margin: 0 auto;
    height: 100vh;
    margin: 0 auto;
    color: lightgrey;
}

 .card-body, .card-header, #headingTwo, #headingOne, #headingThree {
    background: rgb(40, 40, 40);
} 

ul {
    list-style: none;
    margin-left: 20%;
    text-align: left;
  }
  
  ul li::before {
    content: "\2022";
    color: green;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    
  }

  ul li {
      margin-left: 30%;
  }

div.card {
    border: none;
}


.settings {
  
    position: absolute;
    bottom: 0;
    width: 16.5%;
    display: flex;
    justify-content: space-around;
    
}

.settings p {
    font-size: 20px;
    padding-left: 10%;
    letter-spacing: 3px;
}


/* .leftBar {
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: gray;
    top: 0;
    left: 0;
}

.stillLeftBar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.navLogo {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.activeChannels {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid black;
}

.dms {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid black;
}

.channels {
    width: 100%;
    height: 75px;
}

.profileAndSettings {
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
} */
