.NavBar {
    background: rgb(40, 40, 40);
    width: 220px;
    color: white;
    flex-shrink: 0;
    flex-grow: 0;
    resize: horizontal;
}

.nav-top {
    height: calc(100% - 50px);
}

.NavBar .card-body, .card-header, #headingTwo, #headingOne, #headingThree {
    background: rgb(40, 40, 40);
} 

#headingTwo, #headingOne, #headingThree {
    padding: 0px;
}

.NavBar div ul.leftbarUL {
    list-style: none;
    text-align: left;
    height: 40vh;
    overflow: auto;  
}
  
.NavBar ul li::before {
    content: "\2022";
    color: green;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;    
}

.NavBar ul li {
      margin-left: 20%;
}


.NavBar div.card {
    border: none;
}


.NavBar .settings {
  z-index: 999999;
    
}

.NavBar div.card-body {
    overflow: auto;
}


.NavBar .navLogo {
    height: 75px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.NavBar .profileAndSettings {
    height: 50px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
} 

.NavBar .addChannel {
    display: inline;
    margin-right: -10%;
}

.NavBar .addChannelBar {
    width: 30%;
    margin-right: 30px;
}

.channel-link h4 {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    float: left;
}
.unseen-channel-messages{
    font-size: 16px;
    color: #fff;
    display: block;
    float: left;
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}
.channel-list {

    width: 100%;
    clear: both;

}

/* MODAL STUFF */

.modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }