.NavBar {
    background: rgb(40, 40, 40);
    width: 220px;
    color: white;
    flex-shrink: 0;
    flex-grow: 0;
    resize: horizontal;
}

.nav-channels {
    height: calc(100vh - 100px);
    overflow: auto;
}

.NavBar .channels-header {
    font-size: 22px;
    padding: 3px;
    background-color: rgb(55, 55, 55);
    display: flex;
    align-items: center;
}
.NavBar .channels-header:hover {
    background-color: rgb(65, 65, 65);
    cursor: pointer;
}


.NavBar .channel-list {
    border-bottom: 1px solid rgb(55, 55, 55);
    display: flex;
    flex-wrap: nowrap;
}

.NavBar .channel-list .sub {
    border-right: 1px solid rgb(55, 55, 55);
    width: 25px;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
}
.NavBar .channel-list .sub:hover {
    cursor: pointer;
    background-color: rgb(65, 65, 65);
    background: royalblue;
}

.NavBar .channel-list a {
    padding-left: 3px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 195px;

}
.NavBar .channel-list .channel-name {
    max-width: 195px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.NavBar .channel-list a:hover {
    color: white;
    background-color: rgb(65, 65, 65);
}
.NavBar .channel-list .unseen-messages {
    border-left: 1px solid rgb(55, 55, 55);
    display: inline-block;
    margin-left: auto;
    text-align: center;
    min-width: 25px;
    background: royalblue;
}




.NavBar .nav-logo {
    height: 50px;
    background-color: rgb(40, 40, 40);
    border-bottom: 1px solid rgb(55, 55, 55);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.NavBar .nav-logo a {
    color: white;
    text-decoration: none;
}
.NavBar .nav-logo a:hover {
    color: rgb(200, 200, 200);
}
.NavBar .profile-and-settings {
    height: 50px;
    background-color: rgb(55, 55, 55);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.NavBar .profile-and-settings a {
    color: white;
    text-decoration: none;
}
.NavBar .profile-and-settings a:hover {
    color: rgb(200, 200, 200);
}


.NavBar .add-channel-button {
    background-color: rgb(100, 100, 100);
    border: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavBar .add-channel-button:hover {
    background-color: rgb(120, 120, 120);
    cursor: pointer;
}
.NavBar .channels-search-add {
    border-bottom: 1px solid rgb(55, 55, 55);
    padding: 4px;
    display: flex;
}
.NavBar .channels-search-add input.channel-filter {
    width: 140px;
    border-radius: 5px;
    background-color: rgb(40, 40, 40);
    outline: none;
    color: white;
    font-size: 15px;
    margin-left: auto;
}

/* MODAL STUFF */

.modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  /* @media screen and (max-width: 960px) {
    .NavBar, .FriendUserBar {
      display: none;
    }
  } */



/* Transitions */

.NavBar .menu-enter {
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
}
.NavBar .menu-enter.menu-enter-active {
    font-size: initial;
    margin: initial;
    opacity: initial;
    padding: initial;
    transition: all 200ms linear;
}
.NavBar .menu-leave {
    font-size: initial;
    margin: initial;
    opacity: initial;
    padding: initial;
}
.NavBar .menu-leave.menu-leave-active {
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    transition: all 200ms linear
}




.NavBar .list-enter {
    transform: translateX(-200px)
}
.NavBar .list-enter.list-enter-active {
    transform: translateX(0px);
    transition: all 200ms linear;
}
.NavBar .list-leave {
    transform: translateX(0px);
}
.NavBar .list-leave.list-leave-active {
    transform: translateX(-200px);
    transition: all 200ms linear;
}

.NavBar .um-enter {
    opacity: 0;
}
.NavBar .um-enter.um-enter-active {
    opacity: 1;
    transition: all 200ms ease-in;
}
.NavBar .um-leave {
    opacity: 1;
}
.NavBar .um-leave.um-leave-active {
    opacity: 0;
    transition: all 200ms ease-in;
}
.NavBar .popup-content{
    border:0px!important;
    border-radius:5px;
    background: rgb(35,35,35) !important;
} 
.NavBar .addChannelPopUp{
    background-color:rgb(35,35,35);
    padding: 10px;
}
.NavBar .addChannelButton{
    background-color: rgb(100, 100, 100);
    border: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    margin-top:34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavBar .addChannelBar{
    border-radius: 5px;
    background-color: rgb(40, 40, 40);
    outline: none;
    color: white;
    font-size: 15px;
    margin-left: auto;
}