/* .Dashboard {
    padding:0 300px;
} */

.Dashboard {
    display: flex;
    height: 100vh;
}
.center-container {
    background: rgb(55, 55, 55);
    width: 100%;
}
.mobile-nav{
display:none;
}
/* @media screen and (max-width: 960px) {
    .Dashboard{
        overflow:hidden;
    }
    .mobile-nav {
      display: block;
      width: 100%;
      height: 50px;
      position: fixed;
      bottom:0px;
      background-color:rgb(40,40,40);
      border-top:1px solid black;
      color: #fff;
      padding:7px
    }
    .ChannelView .messages{
    height: calc(100vh - 150px);
    }
    .FriendUserBar{
        position: absolute;
    height: 100%;
    right: 0px;

    }
    .mobile-nav-link {
        height: 36px;
        width: 33%;
        float:left;
        text-align: center;
    }
    .center-container {
        position: absolute;
        z-index: -9999;
    }
    .mobile-nav-link:nth-child(2) {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
      }
  } */