.Profiles {
    overflow: auto;
    height: 100%;
}
.Profiles .profileImage {
    width: 80px;
    height: 80px;
}
.Profiles img {
    width: 100%;
}
.Profiles .profileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    width: 100%;
    color: white;
    margin-bottom: 15px;
}

.Profiles .profileSection1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    width: 100%;
    height: 350px;
}

.Profiles .about {
    width: 35%;
    height: 250px;
    border: 3px inset white;
    color: white;
    padding: 10px 20px;
    font-size: 27.5px;
    background: rgb(44, 44, 44);
    overflow: auto;
}

.Profiles .channels {
    width: 100%;
    font-size: 20px;
    margin-left: 10px;
}

.Profiles .Links {
    color: white;
}

.Profiles .Links:hover {
    color: rgb(190, 190, 190);
    text-decoration: none;
}

.Profiles .profileSection2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 325px;
}

.Profiles .data {
    width: 80%;
    height: 250px;
    border: 3px inset white;
    color: white;
    padding: 10px 20px;
    font-size: 27.5px;
    background: rgb(44, 44, 44);
    overflow: auto;
    margin: 0 auto;
}