.shush{
    width: 100%;
    height: 100%;
}
.mainProfile {
    background: rgb(55, 55, 55);
    width: 100%;
    height: 100%;
    overflow: auto
}
.profileImage {
    width: 80px;
    height: 80px;
}
img {
    width: 100%;
}
.profileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    width: 100%;
    color: white;
    margin-bottom: 15px;
}

.profileSection1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    width: 100%;
    height: 350px;
}

.about {
    width: 35%;
    height: 250px;
    border: 3px inset white;
    color: white;
    padding: 10px 20px;
    font-size: 27.5px;
    background: rgb(44, 44, 44);
    overflow: auto;
}

.channels {
    width: 100%;
    height: 25px;
    font-size: 20px;
    margin-left: 10px;
}

.Links {
    color: white;
}

.Links:hover {
    color: rgb(190, 190, 190);
    text-decoration: none;
}

.profileSection2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 325px;
}

.data {
    width: 80%;
    height: 250px;
    border: 3px inset white;
    color: white;
    padding: 10px 20px;
    font-size: 27.5px;
    background: rgb(44, 44, 44);
    overflow: auto;
    margin: 0 auto;
}